#USER_SETTINGS FOR DAATABASE
DB_USER =
DB_PASSWORD =
DB_NAME =

# Telegram settings
TELEGRAM_TOKEN =
TELEGRAM_URL = 'https://api.telegram.org/bot'


# Настройки для Celery
# URL-адрес брокера сообщений
CELERY_BROKER_URL = 'redis://localhost:6379' # Например, Redis, который по умолчанию работает на порту 6379
# URL-адрес брокера результатов, также Redis
CELERY_RESULT_BACKEND = 'redis://localhost:6379'
# Часовой пояс для работы Celery
CELERY_TIMEZONE = "UTC"
# Флаг отслеживания выполнения задач
CELERY_TASK_TRACK_STARTED = True
